---
---

@import "{{ site.theme }}";
/*	Navigation      	*/
ul.topnav { /* Nav Bar */
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
}

ul.topnav li  { /* List of Items  */
	float: left;
}

ul.topnav li a {/* Link */
	display: block;
	color: #21A9FF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
ul.topnav li a:hover { /* Link hover */
	background-color: #21A9FF;
	color: #f3f3f3;
	text-decoration: none;
}
ul.topnav li a.active { /* Active page link */
	background-color: #4CAF50;
}
ul.topnav li a:hover:not(.active) { /* Inactive page link */
 	background-color: #21A9FF;
	color: #f3f3f3;
	text-decoration: none;
}
/* Overflow Related? */
ul.topnav li.right {
	float: right;
}
/* Responsive Overflow Menu */
ul.topnav .icon { /* Hide menu by default */
    display: none;
}

/*	Skin Tweaks     	*/
.page-header { /* Dash Hero Image */
	background: url("/assets/images/hero.png") top center no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
}

.project-text{ /* Dash Logo */
 	height: auto;
 	display: block;
	margin: auto;
}

@media screen and (max-width: 600px){  /* Screens less than 800px RESPONSIVE STUFF */
	ul.topnav li a { /* Hide all links  */ 
		display: none;
	}
	ul.topnav .icon { /* Show Overflow */
    		float: left;
    		display: block;
  	}
	ul.topnav.responsive { /* Position Responsive Menu */
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: 1px solid #e7e7e7;
		background-color: #f3f3f3;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}
  	ul.topnav.responsive a.icon {
    		/*position: absolute;*/
		width: 5%;
  	}
	ul.topnav.responsive li { /* List of Items  */
		display: block;
    		width: 100%;
	}
	ul.topnav.responsive li a { /* Links in List */
		/* Make Vertical Here */
		display: block;
    		width: 100%;
	}
	.page-header { /* Dash Hero Responsive Mod */
		padding-top: 75px;
		max-width: 125%;
	}
	.project-text > img:nth-child(1){ /* Dash Logo */
 		max-width: 65%;
		width: 65%;
	}
}

.project-text > a:nth-child(1) > img:nth-child(1) {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.active { /* Highlights current page on nav bar */
    background-color: #4CAF50;
    color: white;
}

body {
	margin: 0;
}

a { /* All links*/
	color: #21A9FF;
}

.btn { /* All buttons */
	border: 2px solid #FFFFFF;
	color: #21A9FF;
 }
.btn:hover { /* All buttons hover */
	border: 2px solid #21A9FF;
	color: #FFFFFF;
}

/* Markdown Tweaks */
h1 {
	color: #21A9FF !important;        
}
h2 {
	color: #21A9FF !important;        
}
h3 {
	color: #21A9FF !important;        
}

/*	Footer Tweaks      	*/
.footer { /* Footer Backgound and positioning */
	height: 125px;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: black;
}

.contact img { /* Outreach Images */
	max-width: 25px;
	height: auto;
}
.contact > a:nth-child(3) > img:nth-child(1) { /* Hide Patreon Icon */
	color: white;
}

.site-footer-owner { /* Owner Line */
	color: white;
}

.site-footer-credits { /* Credits Line */
	color: white;
}




