    <style>
      .page-header {
       	background: url("dashsite/assets/images/hero.png") top center no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        color: #21A9FF !important;        
      }
      .footer {
        width: 100%;
        position: absolute;
        bottom: 1;
        left: 0;
        background-color: black;
      }
      .site-footer-owner {
        color: white;
      }
      .site-footer-credits {
        color: white;
      }
      a {
        color: #21A9FF;
      }
      
      .btn {
        border: 2px solid #FFFFFF;
        color: #21A9FF;
       }
      .btn:hover {
        border: 2px solid #21A9FF;
       color: #FFFFFF;
      }
    </style>
