<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="icon" href="assets/images/Dico.png">
  </head>
  <body>
    <a name="home"></a>
    <section class="page-header">
      <div class="project-text">
        <img src="assets/images/DashText.png" alt="Dash">    
      	</div>
	<p></p>
      	<!--<a href="https://github.com/dash-games/dash" class="btn">View on GitHub</a>-->
    </section>

    <section class="main-content">
      {{ content }}
      <div class="footer" align="center">
        <footer class="site-footer">
          <div class="contact">
		  <!--<a href="https://github.com/dash-games/dash"><img src="assets/images/if_github2_252065.png" alt="Github"></a>-->
		  <a href="https://www.kickstarter.com/projects/2050460584/dash?ref=7f05s1"><img src="assets/images/if_kickstarter_317736.png" alt="Kickstarter"></a>
		  <!--<a href="#"><img src="assets/images/if_patreon_2363400.png" alt="Patreon"></a>-->
          </div>
          <span class="site-footer-owner"><!--<a href="https://github.com/dash-games/dash">-->Dash</a> is a project by <a href="https://github.com/tjspann">TJ</a>.</span>
          <span class="site-footer-credits">Hosting by <a href="https://pages.github.com">GitHub Pages</a></span>
        </footer>
      </div>
    </section>
  </body>
</html>
