<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="icon" href="assets/images/Dico.png">
  </head>
  <body>
    <section class="page-header">
      <div class="project-text">
        <a name="home">
          <img src="assets/images/DashText.png" alt="Dash">    
        </a>
      </div>
	    <p></p>
      <a href="https://github.com/dash-games/dash" class="btn">View on GitHub</a>
    </section>
	<section class="nav-bar">
      <div class="navigation">
          <ul class="topnav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#roadmap">Project Roadmap</a></li>
          </ul>
      </div>
    </section>
    <section class="main-content">
      {{ content }}
      <div class="footer" align="center">
        <footer class="site-footer">
          <div class="contact">
		  <a href="https://github.com/dash-games/dash"><img src="assets/images/if_github2_252065.png" alt="Github"></a>
		  <a href="https://www.kickstarter.com/projects/2050460584/dash?ref=7f05s1"><img src="assets/images/if_kickstarter_317736.png" alt="Kickstarter"></a>
		<a href="#"><img src="assets/images/if_patreon_2363400.png" alt="Patreon"></a>
          </div>
          <span class="site-footer-owner"><a href="https://github.com/dash-games/dash">Dash</a> is a project by <a href="https://github.com/tjspann">TJ</a>.</span>
          <span class="site-footer-credits">Hosting by <a href="https://pages.github.com">GitHub Pages</a></span>
        </footer>
      </div>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
